[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
python-dotenv = "*"
tvdb-v4-official = {editable = true, ref = "main", git = "https://github.com/thetvdb/tvdb-v4-python.git"}

[dev-packages]

[requires]
python_version = "3.13"
